.navbar {
	grid-area: navbar;
	background-color: #efa;
	padding-top: 100px;
	padding-bottom: 50px;
}

a {
	color: black;
	text-decoration: none;
}

.item {
	font-size: 20px;
	align-items: center;
	padding: 20px;
	text-align: center;
}
